<!-- 侧边栏 -->
<div class="aside">
  <!-- 个人资料 -->
  <div class="profile" id="profile">
    <!-- 头像 -->
    <!--<div class="avatar img-circle">
      <img src="../../uploads/avatar.jpg">
    </div>
    <h4>布头儿</h4>-->
  </div>
  <!-- 导航菜单 -->
  <div class="navs">
    <ul class="list-unstyled">
      <li>
        <a href="../index/index">
          <i class="fa fa-home"></i>
          仪表盘
        </a>
      </li>
      <li>
        <a href="../user/user_list">
          <i class="fa fa-user-circle"></i>
          用户管理
        </a>
      </li>
      <li>
        <a href="../teacher/list">
          <i class="fa fa-graduation-cap"></i>
          讲师管理
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <i class="fa fa-bars"></i>
          课程管理
          <i class="arrow fa fa-angle-right"></i>
        </a>
        <ul class="list-unstyled">
          <li>
            <a href="../course/course_add">
              课程添加
            </a>
          </li>
          <li>
            <a href="../course/course_list">
              课程列表
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>