<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include "/views/common/style.html" ?>
</head>
<body>
    
    <!-- 侧边栏 -->
    <?php include "/views/common/aside.html" ?>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <?php include "/views/common/header.html" ?>
            <div class="body course-add">
                <!-- 面包屑 -->
                <ol class="breadcrumb">
                    <li><a href="javascript:;">课程管理</a></li>
                    <li class="active">课程添加</li>
                </ol>
                <div class="steps">
                    <!--我的坑-->
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框 添加课程 -->
    <div class="modal fade" id="lesson">
    
    </div>
    <script type="text/html" id="course_lesson_tpl">
        <!-- 摘要 -->
        <div class="brief">
            <div class="thumb">
                <img src="{{cs_cover}}" alt="">
            </div>
            <dl class="info">
                <dt>{{ cs_name }}</dt>
                <dd>讲师：{{ tc_name }}</dd>
                <!--<dd>课时：32</dd>-->
            </dl>
        </div>
        <!-- 步聚 -->
        <ul class="forwards list-unstyled">
            <li>
                <a href="javascript:void(0)" class="done">
                    <b class="fa fa-check"></b>
                    基本信息
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="done">
                    <b class="fa fa-check"></b>
                    课程图片
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="active">
                    <b>3</b>
                    课时管理
                </a>
            </li>
        </ul>
        <!-- 课时管理 -->
        <div class="content">
            <!-- 标题 -->
            <div class="title">
                <h5>课时管理 <small>LESSON MANAGE</small></h5>
                <a src="javascript:;" class="btn btn-success btn-sm pull-right course_add" >
                    <i class="fa fa-plus"></i>
                    课时
                </a>
            </div>
            <div class="lessons">
                <ul class="list-unstyled">
                    {{ each lessons val i}}
                    <li>
                        <i class="fa fa-file-video-o"></i>
                        <span class="order">课时：{{ i + 1 }}</span>
                        <span class="name">{{ val.ct_name }}</span>
                        <span class="duration">{{ val.ct_video_duration }}</span>
                        <!-- 操作 -->
                        <div class="action pull-right" data-id="{{ val.ct_id }}">
                            <a href="javascript:;" class="btn btn-info btn-xs btn_modify">编辑</a>
                            <a href="javascript:;" class="btn btn-info btn-xs">预览</a>
                            <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
                        </div>
                    </li>
                    {{ /each}}
                </ul>
            </div>
        </div>
    </script>

    <!-- 添加或编辑模版 -->
    <script type="text/html" id="lesson_tpl">
        <div class="modal-dialog" style="width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ title }}</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ url }}" class="form-horizontal upade_add_form">
                        <input type="hidden" value="{{ ct_cs_id }}" name="ct_cs_id">
                        {{ if title === '课时编辑'}}
                        <input type="hidden" value="{{ ct_id }}" name="ct_id">
                        {{/if}}
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">标题</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-sm" value="{{ ct_name }}" name="ct_name">
                            </div>
                            <div class="col-md-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="ct_is_free" {{if ct_is_free === '1'}} checked {{ /if }}> 免费课时
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">简介</label>
                            <div class="col-md-8">
                                <textarea name="ct_brief" rows="5" class="form-control input-sm">{{ ct_brief }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">视频</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" placeholder="支持优酷、土豆、腾讯、网易公开课的视频页面地址导入" value="{{ct_video}}" name="ct_video">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-sm">获取</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label for="" class="col-md-2 control-label">时长</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control input-sm small" value="{{ct_minutes}}" name="ct_minutes"> 分
                                <input type="text" class="form-control input-sm small" value="{{ct_seconds}}" name="ct_seconds"> 秒
                                <p class="help-block">时长必须为整数。</p>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label for="" class="col-md-2 control-label">建议学习时长</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control input-sm small" value="{{ct_recommend_duration}}" name="ct_recommend_duration"> 小时
                                <p class="help-block">（如未设置，则默认学习时长为视频时长3倍取整。）</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link btn-sm" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-success btn-sm btn_add_update">{{ btnText }}</button>
                </div>
            </div>
        </div>
    </script>



    <?php include "/views/common/script.html" ?>

    <script>
      require(['courseStep3']);
      
    </script>
</body>
</html>