<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include "/views/common/style.html" ?>
</head>
<body>
    
    <!-- 侧边栏 -->
    <?php include "/views/common/aside.html" ?>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <?php include "/views/common/header.html" ?>
            <div class="body course-add">
                <!-- 面包屑 -->
                <ol class="breadcrumb">
                    <li><a href="javascript:;">课程管理</a></li>
                    <li class="active">课程添加</li>
                </ol>
                <div class="steps">
                  <!--挖坑-->
                </div>
            </div>
        </div>
    </div>

    <script type="text/html" id="course_basic_tpl">
    <!-- 摘要 -->
    <div class="brief">
      <div class="thumb">
        <img src="/public/images/course.png" alt="">
      </div>
      <dl class="info">
        <dt>{{ cs_name }}</dt>
        {{ if tc_name }}
        <dd>讲师：{{ tc_name }}</dd>
        {{ /if }}
        <!--<dd>课时：32</dd>-->
      </dl>
    </div>
    <!-- 步聚 -->
    <ul class="forwards list-unstyled">
      <li>
        <a href="./course_add_step1.html" class="active">
                            <b>1</b>
                            基本信息
                            </a>
      </li>
      <li>
        <a href="./course_add_step2.html">
                            <b>2</b>
                            课程图片
                            </a>
      </li>
      <li>
        <a href="./course_add_step3.html">
                            <b>3</b>
                            课时管理
                            </a>
      </li>
    </ul>
    <!-- 基本信息 -->
    <div class="content">
      <!-- 标题 -->
      <div class="title">
        <h5>基本信息 <small>BASIC INFORMATION</small></h5>
      </div>
      <form action="" class="basic form-horizontal">
        <input type="hidden" value="{{cs_id}}" name="cs_id">
        <div class="form-group">
          <label for="" class="col-md-2 control-label">标题</label>
          <div class="col-md-8">
            <input type="text" class="form-control input-sm" value="{{ cs_name }}" name="cs_name">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-md-2 control-label">课程描述</label>
          <div class="col-md-8 ckeditor">
            <textarea name="cs_brief" id="cs_brief" rows="15" class="form-control input-sm">
              {{ cs_brief }}
            </textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-md-2 control-label">讲师</label>
          <div class="col-md-8">
            <select name="cs_tc_id" id="teacher" class="form-control input-sm">
              <option value="-1">--请选择--</option>
              {{ each teacher }}
              <option value="{{ $value.tc_id }}">{{ $value.tc_name }}</option>
              {{ /each}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-md-2 control-label">分类</label>
          <div class="col-md-8">
            <select name="" id="top_cal" class="form-control input-sm">
              <option value="-1">--请选择--</option>
              {{ each category.top }}
              <option value="{{ $value.cg_id }}">{{ $value.cg_name }}</option>
              {{ /each}}
            </select>
            <select name="cs_cg_id" id="cg_child" class="form-control input-sm">
              <option value="-1">--请选择--</option>
              {{ each category.childs }}
              <option value="{{ $value.cg_id }}">{{ $value.cg_name }}</option>
              {{ /each}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-md-2 control-label">标签</label>
          <div class="col-md-8">
            <input type="text" class="form-control input-sm" value="{{ cs_tags }}" name="cs_tags">
            <p class="help-block">将会应用于按标签搜索课程、相关课程的提取等</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10">
            <!--<a href="./course_add_step2.html" class="btn btn-success btn-sm pull-right">保 存</a>-->
            <input type="submit" value="保存" class="btn btn-success btn-sm pull-right">
          </div>
        </div>
      </form>
    </div>
  </script>





    <?php include "/views/common/script.html" ?>

    <script>
        require(['courseStep1']);
    </script>
</body>
</html>