<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include "/views/common/style.html" ?>
</head>
<body>
    
    <!-- 侧边栏 -->
    <?php include "/views/common/aside.html" ?>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <?php include "/views/common/header.html" ?>
            <div class="body course-topic">
                <!-- 面包屑 -->
                <ol class="breadcrumb">
                    <li><a href="javascript:;">课程管理</a></li>
                    <li class="active">课程专题</li>
                </ol>
                <h3>敬请期待...</h3>
            </div>
        </div>
    </div>

    <?php include "/views/common/script.html" ?>
</body>
</html>